{% extends 'base.html' %}
{# 使用length过滤器获取movies变量的长度 #}
{% block content %}
<p>{{ movies|length }} Titles</p>
{#表单#}
<form action="/" method='POST'>
    电影名：<input type="text" name='title' autocomplete="off" required>
    年份： <input type="text" name='year' autocomplete="off" required>
    <input type="submit" class='btn' name='submit' value="添加">
</form>


<ul class="movie-list">
    {% for movie in movies%}
    <li>
        {{ movie.title }} - {{ movie.year }}
        <span class='float-right'>
            <a class='imdb'
                href="http://v.baidu.com/v?word={{movie.title}}&ct=301989888&rn=67&pn=0&db=0&s=0&fbl=800&ie=utf-8"
                target="_blank">百度视频</a>
        </span>
        <span class='float-right' style="margin-top: 4px;">
            <a class='btn' href="{{ url_for('edit', movie_id=movie.id) }}" target="_blank">编辑</a>
        </span>
        <span class='float-right'>
            <form class='inline-form' action="{{ url_for('delete', movie_id=movie.id) }}" method="POST">
                <input class='btn' type="submit" name="delete" value="删除" onclick="return confirm('确定要删除吗？')">
            </form>
        </span>
    </li>
    {% endfor%}

</ul>

<img class="hulu" src="{{ url_for('static',filename='images/5.jpg') }}" alt="">
{% endblock %}